{% extends "base.html.twig" %}

{% block body %}

    <div class="text-center my-5">
        <h1 class="mb-5">Bienvenue dans ce site</h1>

        <p class="mb-5">
            Enregistrement des dates de paiement le prochain 10 (numéro du jour) après 30 jours depuis la date de livraison des produits.
        </p>

        <div>
            <a class="btn btn-success" href="{{ path('managetime') }}">Enregistrer une date de livraison</a>
        </div>
    </div>
    
{% endblock %}