{% extends "base.html.twig" %}

{% block body %}

    <div class="text-center my-5">
        <h1 class="mb-5">Bienvenue dans ce site</h1>

        <div>
            <a class="btn btn-success" href="{{ path('managetime') }}">Enregistrer une date de livraison</a>
        </div>
    </div>
    
{% endblock %}